<div fxLayout="column" class="w-100 h-100 hospital-button" fxLayoutAlign="start" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="start center" (click)="backToHome()" class="back-button">
        
        <button class="back" mat-button fxLayout="row" fxLayoutAlign="center center"><mat-icon>keyboard_arrow_left</mat-icon><span>Back</span></button>
    </div>
    <div fxLayout="row" fxFlex="20" class=" w-100 h-100" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div class="welcome-msg" fxLayout="row" fxFlex="50">
            <strong>List of Prescriptions</strong>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="w-75 m-1 ">
            <mat-card-subtitle><i>Prescribed on:</i> 3/20/2022 3:30 PM by Dr.Sehwal(Cardiologist)</mat-card-subtitle>
            <!-- <mat-card-title>Dr.Sehwal(Cardiologist)</mat-card-title> -->
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="70px">
                    <mat-grid-tile>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Meftal Spas</div>
                            <div>Strength: 400mg</div>
                            <div>Units: 5</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="w-75 m-1 ">
            <mat-card-subtitle><i>Prescribed on:</i> 3/20/2022 3:30 PM by Dr.Sehwal(Cardiologist)</mat-card-subtitle>
            <!-- <mat-card-title>Dr.Sehwal(Cardiologist)</mat-card-title> -->
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="70px">
                    <mat-grid-tile>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Meftal Spas</div>
                            <div>Strength: 400mg</div>
                            <div>Units: 5</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="w-75 m-1 ">
            <mat-card-subtitle><i>Prescribed on:</i> 3/20/2022 3:30 PM by Dr.Sehwal(Cardiologist)</mat-card-subtitle>
            <!-- <mat-card-title>Dr.Sehwal(Cardiologist)</mat-card-title> -->
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="70px">
                    <mat-grid-tile>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Meftal Spas</div>
                            <div>Strength: 400mg</div>
                            <div>Units: 5</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="w-75 m-1 ">
            <mat-card-subtitle><i>Prescribed on:</i> 3/20/2022 3:30 PM by Dr.Sehwal(Cardiologist)</mat-card-subtitle>
            <!-- <mat-card-title>Dr.Sehwal(Cardiologist)</mat-card-title> -->
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="70px">
                    <mat-grid-tile>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Meftal Spas</div>
                            <div>Strength: 400mg</div>
                            <div>Units: 5</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="w-75 m-1 ">
            <mat-card-subtitle><i>Prescribed on:</i> 3/20/2022 3:30 PM by Dr.Sehwal(Cardiologist)</mat-card-subtitle>
            <!-- <mat-card-title>Dr.Sehwal(Cardiologist)</mat-card-title> -->
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="70px">
                    <mat-grid-tile>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Meftal Spas</div>
                            <div>Strength: 400mg</div>
                            <div>Units: 5</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="w-75 m-1 ">
            <mat-card-subtitle><i>Prescribed on:</i> 3/20/2022 3:30 PM by Dr.Sehwal(Cardiologist)</mat-card-subtitle>
            <!-- <mat-card-title>Dr.Sehwal(Cardiologist)</mat-card-title> -->
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="70px">
                    <mat-grid-tile>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Meftal Spas</div>
                            <div>Strength: 400mg</div>
                            <div>Units: 5</div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div fxLayout="column">
                            <div>Drug: Paracetmol</div>
                            <div>Strength: 500mg</div>
                            <div>Units: 10</div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </div>

</div>