<div fxLayout="column" class="w-100 h-100 hospital-button" fxLayoutAlign="start" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="start center" (click)="backToHome()" class="back-button">

        <button class="back" mat-button fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>keyboard_arrow_left</mat-icon><span>Back</span>
        </button>
    </div>
    <div fxLayout="row" fxFlex="10" class=" w-100 h-100" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div class="welcome-msg" fxLayout="row" fxFlex="50">
            <strong>Lab Tests history</strong>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-accordion class="w-75 m-1">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3/20/2022 3:30 PM
                    </mat-panel-title>
                    <mat-panel-description>
                        Lab Test: Complete Blood Count
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div class="h6">Lab Test Details</div>
                    <div>
                        <i>Requested By:</i> Dr.Meghnath(General Physician)
                    </div>
                    <div><i>Status:</i> Completed</div>
                    <div><i><strong>Result:</strong></i></div>
                    <div>Red Blood Cells: 25,000</div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="w-75 m-1">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3/20/2022 3:30 PM
                    </mat-panel-title>
                    <mat-panel-description>
                        Lab Test: Complete Blood Count
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div class="h6">Lab Test Details</div>
                    <div>
                        <i>Requested By:</i> Dr.Meghnath(General Physician)
                    </div>
                    <div><i>Status:</i> Completed</div>
                    <div><i><strong>Result:</strong></i></div>
                    <div>Red Blood Cells: 25,000</div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="w-75 m-1">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3/20/2022 3:30 PM
                    </mat-panel-title>
                    <mat-panel-description>
                        Lab Test: Complete Blood Count
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div class="h6">Lab Test Details</div>
                    <div>
                        <i>Requested By:</i> Dr.Meghnath(General Physician)
                    </div>
                    <div><i>Status:</i> Completed</div>
                    <div><i><strong>Result:</strong></i></div>
                    <div>Red Blood Cells: 25,000</div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="w-75 m-1">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3/20/2022 3:30 PM
                    </mat-panel-title>
                    <mat-panel-description>
                        Lab Test: Complete Blood Count
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div class="h6">Lab Test Details</div>
                    <div>
                        <i>Requested By:</i> Dr.Meghnath(General Physician)
                    </div>
                    <div><i>Status:</i> Completed</div>
                    <div><i><strong>Result:</strong></i></div>
                    <div>Red Blood Cells: 25,000</div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="w-75 m-1">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3/20/2022 3:30 PM
                    </mat-panel-title>
                    <mat-panel-description>
                        Lab Test: Complete Blood Count
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div class="h6">Lab Test Details</div>
                    <div>
                        <i>Requested By:</i> Dr.Meghnath(General Physician)
                    </div>
                    <div><i>Status:</i> Completed</div>
                    <div><i><strong>Result:</strong></i></div>
                    <div>Red Blood Cells: 25,000</div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>