.hospital-button{
    background-image: linear-gradient(to right bottom, #40abe173, #9dbacb3b);
    overflow: scroll;
}
.welcome-msg{
    font-size:25px;
    margin-left: 20%;
}
.back{
    font-size:21px;
    font-weight:500;
}
