.hospital-button{
    background-image: linear-gradient(to right bottom, #40abe173, #9dbacb3b);
    overflow: scroll;
}
.welcome-msg{
    font-size:25px;
    margin-left: 20%;
}
.back{
    font-size:25px;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .profile{
      margin-left:10%;
  }
  .update{
      background-color: #47cccc85;
      margin:10px;
  }
