.hospital-button{
    background-image: linear-gradient(to right bottom, #40abe173, #9dbacb3b);
}
.book-container{
    margin:4% 12%;
    border-radius: 15px;
    border: 8px solid black;
}
.appointment{
    color: #2F90A1;
    font-size: 21px;
    font-weight: 500;
}
.book-appointment{
    color:#04a5f6;
}
.back{
    font-size:21px;
    font-weight:500;
}
